
body{
  /* background-color: aquamarine;   */
}

header {
    text-align: center;
}

.calc-body {
    height: 430px;
    width: 300px;
    border: 2px solid #54c8ff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.screen {
    height: 60px;
border: 2px solid #54c8ff;
margin: 12px;
width: auto;
border-radius: 9px;
padding: 3px 6px;
font-size: 24px;
}

.button-area {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 1.5em;
}

.calculator-button {
    margin-bottom: 1.5em;
}